
$bg-shadow-circle: inset 0 0  10px 5px rgba(255,255,255, 0.1), 0 0 2px 1px rgba(0,0,0,1);
$hover-shadow-circle: inset 0 0 4px 2px rgba(255,255,255, 0.1), 0 0 2px 12px rgba(0,0,0,0.2);

$disabled-button-color: #777;

$step-color: rgba(0,206,209, 0.2);
$step-bg-color: rgba(0, 226, 209, 0.05);




//                    0 0 1px 25px rgba(0,0,0,0.1);
//                    0 0 1px 35px rgba(55,33,255,0.1);

//$bg-shadow-circle-red: inset 0 0 20px 0px  #FF3333;