button {

//  margin: 1em 0;
  padding: 1em;
  width:100%;


}

.btn {

  border-radius: 0

}

#counter {

//  float: none;
  color: red;
  background: rgba(45,0,0,0.9);
  border: 4px solid #000;
  border-radius: 4px;
  padding: 5%;
  width: 100%;
  display: block;


}

