body {

  font-family: Consolas;

}

//#log {
//
//  font-size: 12px;
//
//
//}

.menu  *{

  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;


}

#log {

  font-family: 'Gloria Hallelujah', cursive;


}